body {
	margin: 1.5em auto;
	max-width: 64em;
}

.foldable + label {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	font-weight: bold;
}

.foldable ~ .foldContents {
	height: 0;
	overflow: hidden;
	transition: 0.2s;
	border: 1px solid black;
	margin: 0;
	/*padding-bottom: 0%;*/
	width: auto;
}

.foldable:checked ~ .foldContents {
	/*padding-bottom: inherit;*/
	height: auto;
}

.foldable + label span {
	transform: rotate(0);
	transition-duration: 0.2s;
}

.foldable:checked + label span {
	transform: rotate(90deg);
	transition-duration: 0.2s;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*hmm*/